@supports(-webkit-appearance: none) or (-moz-appearance: none) {
    $PATH: '../project.blocks/radio/images/';
    .radio {
        display: -webkit-flex; 
        display: flex;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        
        label, &__input { cursor: pointer }
        label { 
            display: -webkit-flex; 
            display: flex;align-items: center; margin-right: 21px }
        &__input {
            -webkit-appearance: none;
            -moz-appearance: none;
            height: 20px;
            outline: none;
            margin-right: 10px;
            background: white;
            &:last-child { margin-right: 0px }
            border: 1px solid rgba(31, 32, 65, 0.25);
            border-radius: 50%;
            &::before {
                content: '';
                border-radius: 50%;
                display: inline-block;
                width: 18px; height: 18px;
            }
            &:checked {
                border: 1px solid #BC9CFF;
                &::before {
                    width: 12px; height: 12px;
                    margin: 3px;
                    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
                }
            }
            &_rate {
                background: brown;
                margin-right: 4px;
                border-radius: 0px;
                border: 0px;
                width: 20px; height: 20px;
                &~ label > span::before {
                    content: "star_rate";
                    display: none;
                    position: absolute;
                }
                &:checked {
                    &~ label > span {
                        &::before {
                            display: inline-block
                        }
                    }
                    // background: url($PATH+"star.svg") no-repeat;
                    // background: pink;
                    // border: 0px;
                    // &::before { background: none; border: 0px }
                }
                &:first-child ~ .radio__input_rate:not(.radio__input_rate:checked ~ .radio__input_rate){
                    // background: pink;
                    // background: url($PATH+"star.svg") no-repeat;
                }
                &:checked ~ .radio__input_rate{
                    // background: powderblue;
                    // background: url($PATH+"star_border.svg") no-repeat;
                }
            }
/*
            &_rate {
                margin-right: 4px;
                border-radius: 0px;
                border: 0px;
                width: 20px; height: 20px;
                &::before { background: none }
                &:checked {
                    // background: url($PATH+"star.svg") no-repeat;
                    background: pink;
                    border: 0px;
                    &::before { background: none; border: 0px }
                }
                &:first-child {
                    background: pink;
                    // background: url($PATH+"star.svg") no-repeat;
                }
                &:first-child ~ .radio__input_rate:not(.radio__input_rate:checked ~ .radio__input_rate){
                    background: pink;
                    // background: url($PATH+"star.svg") no-repeat;
                }
                &:checked ~ .radio__input_rate{
                    background: powderblue;
                    // background: url($PATH+"star_border.svg") no-repeat;
                }
            }
            */
        }
        span {
            vertical-align: top;
            color: rgba(31, 32, 65, 0.5);
        }
        &__input_rate {
            display: none;
            &~ label span { display: inline-block; width: 20px; }
            &:first-child {
                .radio__input_rate {
                    &+span {
                        content: "star_rate";
                    }
                }
            }
        }
        .radio__label-rate { margin-right: 4px }
    }
}