@supports(-webkit-appearance: none) or (-moz-appearance: none) {
    .radio { display: flex; }

    .radio label, .radio__input { cursor: pointer }

    .radio label {
        margin-right: 20px;
    }

    .radio__input {
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 18px;
        outline: none;
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 10px;
        border: 1px solid rgba(31, 32, 65, 0.25);
        border-radius: 50%;
        vertical-align: middle;
        &::before {
            content: '';
            border-radius: 50%;
            display: inline-block;
            width: 16px;
            height: 16px;
        }
        &:checked {
            background: none;
            border: 1px solid #BC9CFF;
            &::before {
                width: 10px;
                height: 10px;
                margin: 3px;
                background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
            }
        }
    }

    .radio span {
        vertical-align: top;
        color: rgba(31, 32, 65, 0.5);
    }

    .radio__input_rate {
        border-radius: 0px;
        border: 0px;
        width: 20px;
        height: 20px;
        background: url("/images/star_border.svg") no-repeat;
        &::before { background: none }
        &:checked {
            background: url("/images/star.svg") no-repeat;
            border: 0px;
            &::before { background: none; border: 0px }
        }
    }

    .radio__input_rate:first-child { background: url("/images/star.svg") no-repeat }
    .radio__input_rate{ background: url("/images/star.svg") no-repeat }
    .radio__input_rate:checked{ background: url("/images/star.svg") no-repeat }
    .radio__input_rate:checked ~ input{ background: url("/images/star_border.svg") no-repeat }
}