$PATH: '../docs/images/';

.sign-in {
    background: url($PATH+"reg-and-log.png");
    background-size: cover;
}

.sign-in__box {
    display: flex;
    justify-content: center;
    margin-top: 172px;
    margin-bottom: 172px;
}