$PATH: '../project.blocks/sign-in/images/';

.sign-in {
  background: url($PATH+"sign-in.png");
  background-size: cover;
  &__box {
    display: -webkit-flex; 
    display: flex;
    justify-content: center;
    margin-top: 242px; margin-bottom: 172px;
  }
}

// Десктоп. Разрешение < 375px
@media (max-width: 374px) {
  .sign-in__box { margin-top: 70px; margin-bottom: 0px }
}