/* list-counter */

.list-counter {
    /* Запрет выделения текста */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;
    user-select: none;
    &__buttons {
        margin-top: 6px;
        padding-bottom: 7px;
        display: -webkit-flex; 
        display: flex; 
        flex-direction: row;
        justify-content: space-between;
    
        h3 {margin-top: 6px;margin-right: 6px;margin-bottom: 6px;}
    
        
        .list-counter__clear {
            cursor: pointer;
            visibility: hidden;
            h3 {font-weight: bold;}
        }
    
        .list-counter__apply {
            cursor: pointer;
            h3 {font-weight: bold;}
        }
    }
    
    &__item {
        padding-bottom: 7px;
        display: -webkit-flex; 
        display: flex; 
        flex-direction: row;
        justify-content: space-between;
    
        h3 {margin-top: 6px;}
    
        .list-counter__minusAndPlus {

            display: -webkit-flex; 
            display: flex; 
            flex-direction: row;
            justify-content: space-between;
            width: 92px;
            margin-right: 6px;
    
            .list-counter__circle {
                width: 28px;
                height: 28px;
                border-radius: 50%;
                border: 1px solid rgba(31, 32, 65, 0.25);
                display: -webkit-flex; 
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                p {
                    font-size: 18px;
                    line-height: 22px;
                }
                &_not-active {
                    opacity: 50%;
                }
            }
        }
    }

    &__top {
        display: -webkit-flex; 
        display: flex; 
        flex-direction: row;
        justify-content: space-between;
        padding-left: 14px;
        &_small {width: 252px}
    }
    &__bottom {
        &_small {width: 234px}
        &_hide { display: none }
    }
}