$PATH: '../project.blocks/button/images/';

.button {
  display: block;
  &__content {
    display: -webkit-flex; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    cursor: pointer;
    &_padding { border-radius: 22px }
  }
  &__elem {
    display: -webkit-flex; 
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    height: 44px;
    border-radius: 22px;
    &_opaque-background {
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      &.button__text {color: #FFFFFF}
    }
    &_transparent-background {
      background: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);
      &.button__text {color: #FFFFFF}
    }
    &_opaque-border {
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      .button__content {
        margin: 2px;
        background: white;
      }
    }
    &_transparent-border {
      background: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);
      .button__content {
        margin: 2px;
        background: white;
      }
    }
    &_big {
      max-width: 320px;
      .button__content { justify-content: flex-end }
    }
    &_small-height { height: 34px }
  }
  &__text {
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
    &_grey:not(.purple_text) { color: rgba(31, 32, 65, 0.5) }
    &_white:not(.purple_text) { color: #FFFFFF }
  }
  &__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-right: 10px;
    &> .button__arrow-char { color: #FFFFFF }
  }
}