.button {
    display: flex;

    &__elem {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 22px;
        .button__text {min-width: 59px}
        &_opaque-background {
            background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
            &.button__text {color: #FFFFFF}
        }
        &_transparent-background {
            background: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);
            &.button__text {color: #FFFFFF}
        }
        &_opaque-border {
            background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
            .button__content {
                margin: 2px;
                background: white;
                min-width: 95px;
            }
        }
        &_transparent-border {
            background: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);
            .button__content {
                margin: 2px;
                background: white;
                min-width: 95px;
            }
        }
        &_big {
            background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
            .button__content {background: 289px 13px url("/images/arrow_forward_white.svg") no-repeat;
            }
            .button__text {min-width: 320px}
        }
    }

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        cursor: pointer;
        &_padding {height: calc(100% - 4px); min-width: 99px; border-radius: 22px}
    }

    &__text {
        font-weight: normal;
        text-align: center;
        color: #BC9CFF;
        &_grey {color: rgba(31, 32, 65, 0.5)}
        &_white {color: #FFFFFF}
    }
}