.statistics {
  &__vote {
    display: -webkit-flex; 
    display: flex;
    align-items: flex-end;
    ul.statistics__ul {
      display: -webkit-flex; 
      display: flex;
      flex-direction: column;
      list-style: none;
    }
  }
  &__li {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 2px;
    &:last-child { margin-bottom: 0px }
    &:before {
      content: '';
      display: inline-block;
      height: 10px; width: 10px;
      vertical-align: middle;
      border-radius: 50%;
      margin-right: 5px; margin-bottom: 2px;
    }
  }
  &__ellipse-border {
    margin-right: 30px;
    width: 120px; height: 120px;
  }
  &__ellipse-background {
    width: 120px; height: 120px;
    position: absolute;
    text-align: center;
    display: -webkit-flex; 
    display: flex;
    flex-direction: column;
    margin-top: 33px;
  }
  &__svg {
    position: absolute; 
    -moz-transform: rotate(180deg); /* Для Firefox */
    -ms-transform: rotate(180deg); /* Для IE */
    -webkit-transform: rotate(180deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(180deg); /* Для Opera */
    transform: rotate(180deg);
  }
}