.statistics__vote {
    display: flex;
    align-items: flex-end;
    ul {
        list-style:none;
        padding: 0;
        margin:0px;
    }
    li {
        font-size:16px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        &:nth-child(n) {
            &:before {
                content: '';
                display: inline-block;
                height:10px;
                width: 10px;
                vertical-align: middle;
                border-radius:50%;
                margin-right:5px;
            }
        }
        // &:nth-child(1) { &:before { background: linear-gradient(#FFE39C, #FFBA9C) } }
        // &:nth-child(2) { &:before { background: linear-gradient(#66D2EA, #6FCF97) } }
        // &:nth-child(3) { &:before { background: linear-gradient(#BC9CFF, #8BA4F9) } }
        &:nth-child(4) { &:before { background: linear-gradient(#919191, #3D4975) } }
    }
}
.statistics__ellipse-border {
    margin-right: 30px;
    width: 120px;
    height: 120px;
    svg {
        position: absolute;
    }
    .statistics__ellipse-background {
        width: 120px;
        height: 120px;
        position: absolute;
        text-align: center;
        display: flex;
        flex-direction: column;
        margin-top: 33px;
        h1, h3 { color: #BC9CFF }
    }

    
    #path_0_0 { stroke: url(#Gradient_0_0); }
    #Gradient_0_0 .stop1 { stop-color: #66D2EA; }
    #Gradient_0_0 .stop2 { stop-color: #6FCF97; }

    #path_0_1 { stroke: url(#Gradient_0_1); }
    #Gradient_0_1 .stop1 { stop-color: #6FCF97; }
    #Gradient_0_1 .stop2 { stop-color: #6FCF97; }
    
    #path_1_0 { stroke: url(#Gradient_1_0); }
    #Gradient_1_0 .stop1 { stop-color: #8BA4F9; }
    #Gradient_1_0 .stop2 { stop-color: #BC9CFF; }

    #path_1_1 { stroke: url(#Gradient_1_1); }
    #Gradient_1_1 .stop1 { stop-color: #8BA4F9; }
    #Gradient_1_1 .stop2 { stop-color: #BC9CFF; }
    
    #path_2_0 { stroke: url(#Gradient_2_0); }
    #Gradient_2_0 .stop1 { stop-color: #FFBA9C; }
    #Gradient_2_0 .stop2 { stop-color: #FFE39C; }

    #path_2_1 { stroke: url(#Gradient_2_1); }
    #Gradient_2_1 .stop1 { stop-color: #FFBA9C; }
    #Gradient_2_1 .stop2 { stop-color: #FFE39C; }
}