.statistics__vote {
    display: -webkit-flex; 
    display: flex;
    align-items: flex-end;
    ul {
        display: -webkit-flex; 
        display: flex;
        flex-direction: column;
        list-style:none;
        padding: 0;
        margin:0px;
    }
    li {
        font-size:16px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        &:nth-child(n) {
            &:before {
                content: '';
                display: inline-block;
                height:10px;
                width: 10px;
                vertical-align: middle;
                border-radius:50%;
                margin-right:5px;
            }
        }
    }
}
.statistics__ellipse-border {
    margin-right: 30px;
    width: 120px;
    height: 120px;
    svg {
        position: absolute; 
        -moz-transform: rotate(180deg); /* Для Firefox */
        -ms-transform: rotate(180deg); /* Для IE */
        -webkit-transform: rotate(180deg); /* Для Safari, Chrome, iOS */
        -o-transform: rotate(180deg); /* Для Opera */
        transform: rotate(180deg);
    }
    .statistics__ellipse-background {
        width: 120px;
        height: 120px;
        position: absolute;
        text-align: center;
        display: -webkit-flex; 
        display: flex;
        flex-direction: column;
        margin-top: 33px;
    }
}