.form-reservation {
  &__element {
    &:nth-child(1){
      .form-reservation__two-columns {
        display: -webkit-flex; 
        display: flex;
        justify-content: space-between;
        margin-right: 30px;
        margin-top: 4px;
        margin-bottom: 23px;
        .form-reservation__number, .form-reservation__price {
          display: -webkit-flex; 
          display: flex;
          align-items: flex-end;
          p, h2 { line-height: 17px }
          h3 { line-height: 15px }
        }
        .form-reservation__number {
          p { margin-right: 6px }
          h2 {
            font-size: 24px;
            line-height: 24px;
            margin-right: 6px
          }
        }
        .form-reservation__price {
          h3, p {
            color: rgba(31, 32, 65, 0.5);
            line-height: 14px;
          }
          h3 { font-size: 14px; margin-right: 3px }
          p { font-size: 12px }
        }
      }
    }
    &:nth-child(1) > .form-reservation__table {
      &:nth-child(1) > * {
        &:nth-child(2), &:nth-child(3) { margin-left: 5px }
      }
    }
    &:nth-child(2), &:nth-child(3) { margin-bottom: 20px }
    &:nth-child(4) {
      margin-bottom: 34px;
      margin-left: 2px;
      .form-reservation__table {
        line-height: 18px;
        .form-reservation__column:nth-child(2) {
          .form-reservation__td { padding-top: 0px }
        }
        .form-reservation__td { height: 33px; padding-top: 1px }
      }
    }
    &:nth-child(5) {
      margin-bottom: 19px;
      margin-left: 2px;
      display: -webkit-flex; 
      display: flex;
      justify-content: space-between;
      margin-right: 30px;
      &> * {
        &:nth-child(2) {
          width: 181px;
          border-bottom: 1px dashed rgba(31, 32, 65, 0.25);
        }
      }
    }
    &:nth-child(6) {
      height: 44px;
      display: -webkit-flex; 
      display: flex
    }
  }
  &__table {
    display: -webkit-flex; 
    display: flex;
  }
  &__column {
    &:nth-child(1) { width: 214px }
    &:nth-child(2) { margin-left: 5px }
    &:nth-child(2) p {
      width: 18px; height: 18px;
      font-size: 12px; 
      color: rgba(31, 32, 65, 0.25);
    }
    &:nth-child(3){
      width: 57px;
      margin-left: 22px;
      text-align: right;
    }
  }
  &__td {
    &_circle {
      text-align: center;
      display: block;
      p {
        display: inline-block;
        border-radius: 50%;
        vertical-align: top;
        border: 1px solid rgba(31, 32, 65, 0.25);
        span {
          line-height: 14px;
          vertical-align: middle;
          padding-bottom: 4px}
      }
    }
  }
}