.form-reservation {
  &__element {
    &:nth-child(1){
      .form-reservation__two-columns {
        display: -webkit-flex; 
        display: flex;
        justify-content: space-between;
        margin-right: 30px;
        margin-top: 4px;
        margin-bottom: 23px;
        .form-reservation__number, .form-reservation__price {
          display: -webkit-flex; 
          display: flex;
          align-items: flex-end;
          p, h2 { line-height: 17px }
          h3 { line-height: 15px }
        }
        .form-reservation__number {
          p { margin-right: 6px }
          h2 {
            font-size: 24px;
            line-height: 24px;
            margin-right: 6px
          }
        }
        .form-reservation__price {
          h3, p {
            color: rgba(31, 32, 65, 0.5);
            line-height: 14px;
          }
          h3 { font-size: 14px; margin-right: 3px }
          p { font-size: 12px }
        }
      }
    }
    &:nth-child(2) { margin-bottom: 20px }
    &:nth-child(3) { margin-bottom: 19px }
    &:nth-child(4) {
      margin-bottom: 30px;
      .form-reservation__table {
        display: flex;
        flex-direction: column;
        margin-right: 29px;
        .form-reservation__line {
          display: flex;
          flex-wrap: nowrap;
          justify-content: flex-end;
          min-height: 34px;
          .form-reservation__td-title {
            flex-grow: 1;
            margin-top: 2px;
            line-height: 18px
          }
          .form-reservation__td-info {
            &:before {
              content: '';
              border: 1px solid rgba(31, 32, 65, 0.25);
              width: 18px; height: 18px;
              border-radius: 50%;
              display: block;
              position: absolute;
            }
            width: 20px;
            text-align: center;
            font-size: 12px;
            line-height: 18px;
            color: rgba(31, 32, 65, 0.25);
            font-weight: bold;
            &_hidden {
              &:before {
                content: '';
                border: 0px
              }
            }
          }
          .form-reservation__td-price {
            display: flex;
            min-width: 80px;
            justify-content: flex-end;
            line-height: 22px
          }
        }
      }
    }
    &:nth-child(5) {
      h3 { max-height: 19px }
      margin-bottom: 20px;
      display: -webkit-flex; 
      display: flex;
      justify-content: space-between;
      margin-right: 30px;
      &> * {
        &:nth-child(2) {
          width: 181px;
          border-bottom: 1px dashed rgba(31, 32, 65, 0.25);
        }
      }
    }
  }
}