include ../form/form
include ../dropdown/dropdown
include ../button/button
include ../number-and-price/number-and-price

-
  var attributes = [
    {name: "date-1", title_1: "прибытие", title_2: "выезд", date_two_fields: "date_two-fields", dropdown_elem_no_border: "dropdown__elem_no-border", dropdown_elem_small: false,
    dropdown_top_no_arrow: "dropdown__top_no_arrow"},
    {name: "list-1", input_title: "Сколько гостей", type_units: "together", dropdown_elem_small: false},
  ]

-
  var list_people = [
    {title: "взрослые", value : "0", name: "adults" },
    {title: "дети", value : "0", name: "children" },
    {title: "младенцы", value : "0", name: "babies" }
  ]

- var attributes_0 = attributes[0]
- var attributes_1 = attributes[1]

mixin addFormReservation(number, price, lux, mod)
  .form-reservation
    +addForm
      .form-reservation__element.form-reservation__element_1
        +addNumberAndPrice(number, price, lux, mod)
      .form-reservation__element.form-reservation__element_2
        +addDropdown('date Dropdown', attributes_0, {date: true})
      .form-reservation__element.form-reservation__element_3
        +addDropdown('гости', attributes_1, {list: true}, list_people)
      .form-reservation__element.form-reservation__element_4
        .form-reservation__table
          .form-reservation__line
            p.form-reservation__td-title 9 990₽ х 4 суток
            p.form-reservation__td-info.form-reservation__td-info_hidden
            p.form-reservation__td-price 39 960₽
          .form-reservation__line
            p.form-reservation__td-title Сбор за услуги: скидка 2 179₽
            p.form-reservation__td-info i
            p.form-reservation__td-price 0₽
          .form-reservation__line
            p.form-reservation__td-title Сбор за дополнительные услуги
            p.form-reservation__td-info i
            p.form-reservation__td-price 300₽
      .form-reservation__element.form-reservation__element_5
        h2.form-reservation__result Итого
        h3.form-reservation__line
        h2.form-reservation__result 38 081₽
      .form-reservation__element.form-reservation__element_6
        +addButton("забронировать", "id-but-1", "button__elem_opaque-background button__elem_big", "button__content_padding", "button__text_white", "arrow_forward")