include ../header-nav/header-nav
include ../footer/footer

-
  var attr = [
    {logged: null, first_bold: "navigator__text_bold"},
    {logged: true, first_bold: "navigator__text_bold"}
  ]

.headers-and-footers
  .headers-and-footers__element.headers-and-footers__element_1
    +addHeaderNav("no-fixed", attr[0])
  .headers-and-footers__element.headers-and-footers__element_2
    +addHeaderNav("no-fixed", attr[1])
  .headers-and-footers__element.headers-and-footers__element_3
    +addFooter
  .headers-and-footers__element.headers-and-footers__element_4
    +addFooter("small")