include ../header-nav/header-nav
include ../footer/footer


.headers-and-footers
    .headers-and-footers__element
        +addHeaderNav("false", "no-fixed")
    .headers-and-footers__element
        +addHeaderNav("true", "no-fixed")
    .headers-and-footers__element
        +addFooter
    .headers-and-footers__element
        +addFooter("small")