include ../header-nav/header-nav
include ../footer/footer


.headers-and-footers
    .headers-and-footers__element
        +addHeaderNav("false")
    .headers-and-footers__element
        +addHeaderNav("true")
    .headers-and-footers__element
        +addFooter