.search-room {
    &__columns {
        display: flex;
        justify-content: center;
        margin-top: 95px;
        border-bottom: 1px solid rgba(31, 32, 65, 0.25);
    }
    &__column { margin-bottom: 71px }
    &__column:nth-child(1) {
        width: 266px;
        margin-right: 60px;
    }
    &__column:nth-child(2) {
        h1 { margin-bottom: 21px }
        margin-top: 4px;
    }
    &__line {
        display: flex;
        margin-bottom: 21px;
        &:last-child { margin-bottom: 0px }
        &> *:nth-child(1) {margin-right: 12px}
        &> *:nth-child(2) {margin-right: 12px}
    }
    &__numbers {
        margin-bottom: 41px;
    }
    &__paginator {
        display: flex;
        justify-content: center;
        margin-right: 10.85px;
    }
    &__preference {
        &> *:nth-child(1) { margin-bottom: 20px }
        &> *:nth-child(2) { margin-bottom: 30px }
        &> *:nth-child(3) { margin-bottom: 14px }
        &> *:nth-child(4) {
            margin-bottom: 30px;
            font-size: 12px;
            line-height: 14px;
        }
        &> *:nth-child(5) { margin-bottom: 16.40px }
        &> *:nth-child(6) { margin-bottom: 21px }
        &> *:nth-child(7) { margin-bottom: 16px }
        &> *:nth-child(8) { margin-bottom: 21px }
        &> *:nth-child(9) { margin-bottom: 16px }
    }
}