$PATH: '../docs/images/';

.registration {
    background: url($PATH+"reg-and-log.png");
    background-size: cover;
}

.registration__box {
    display: flex;
    justify-content: center;
    margin-top: 19px;
    margin-left: 6px;
    margin-bottom: 19px;
}