mixin addTwoElements(leftType, rightType, items)
    .two-elements
        - for (var x = 0; x < items.length; x++)
            .two-elements__element
                .two-elements__left
                    if leftType.image_and_text
                        +addImage(items[x].image)
                    if leftType.but_and_text
                        p вызов миксина с кнопкой
                .two-elements__right
                    if rightType.image_and_text
                        +addTitleAndText(items[x].title, items[x].text)
                    if rightType.but_and_text
                        p вызов миксина с текстом

mixin addImage(image)
    img(src=image)

mixin addTitleAndText(title, text)
    p
        b= title
    p= text