.two-elements__element {
    display: flex;
    vertical-align: top;
    padding-bottom: 0px;
    margin-bottom: 12px;
    &_line {
        border-bottom: 1px solid rgba(31, 32, 65, 0.1);
        padding-bottom: 17px;
        margin-bottom: 23px;
        width: 280px;
    }
}

.two-elements__left, .two-elements__right {
    vertical-align: top;
}
.two-elements__left {
    min-width: 48px;
    margin-right: 10px;
    text-align: center;
}

