.two-elements {
  &__element {
    display: -webkit-flex; 
    display: flex;
    vertical-align: top;
    padding-bottom: 0px;
    margin-bottom: 5px;
    &_line {
      border-bottom: 1px solid rgba(31, 32, 65, 0.1);
      padding-bottom: 10px;
      margin-bottom: 23px;
      width: 280px;
    }
  }
  &__left {
    min-width: 48px;
    margin-right: 10px;
    text-align: center;
    img { width: 48px; height: 48px }
  }
}

// Десктоп. Разрешение < 360px
@media (max-width: 359px) {
  .two-elements {
    &__element { justify-content: center }
    &__right { width: 220px }
  }
}