mixin addDateTop
    .date__top
        p 123

mixin addDateBottom(items)
    .date__bottom
        p 456
        .date__buttons
            h3.date__clear очистить
            h3.date__apply(id="apply") применить