mixin addDateDropdown(val, title)
    .field
        .field__columns
            .field__column
                h3= title
                .field__input(class='field__input_date-dropdown')
                    p= val
                .field__input.field__input_date
                    p тут будет 3 реализация черех JS. 
            .field__column
                h3= title
                .field__input(class='field__input_date-dropdown')
                    p= val
                .field__input.field__input_date
                    p тут будет 3 реализация черех JS. 