.form-elements {
  &__cells {
    display: -webkit-flex; 
    display: flex;
  }
  &__td {
    margin-right: 20px;
    &:last-child { margin-right: 0px }
    &_no-indent { margin-bottom: 0px }
  }
  &__element {
    &_1, &_2 { margin-bottom: 20px }
    &_3 { margin-bottom: 22.56px }
    &_4 { margin-bottom: 40px }
    &_5, &_6 { margin-bottom: 41px }
    &_7 { margin-bottom: 100px }
    &_8 { margin-bottom: 20px }
    &_9 { margin-bottom: 160px }
    &_10 { margin-bottom: 22px }
    &_11 { margin-bottom: 276px }
    &_13 { max-width: 222px; margin-bottom: 30px }
    &_13 > .form-elements__title { margin-bottom: 16.56px }
    &_14 { margin-bottom: 39px }
    &_14 > .form-elements__title { margin-bottom: 14px }
    &_15 { margin-bottom: 30px }
    &_16 { margin-bottom: 28px }
    &_15, &_16 { & > .form-elements__title{ margin-bottom: 16px } }
    &_17 {
      margin-bottom: 196px;
      &> .form-elements__title { margin-bottom: 16px }
      &> .form-elements__td {
        margin-right: 16px;
        &:last-child { margin-right: 0px }
      }
    }
    &_18 { margin-bottom: 256px }
    &_19 { margin-bottom: 223px }
    &_19 > .form-elements__title { margin-bottom: 16px }
    &_21 { margin-bottom: 38px }
    &_22 { margin-bottom: 30px }
    &_23, &_24, &_22 > .form-elements__title { margin-bottom: 16px }
    &_25 { margin-bottom: 40px }
    &_22, &_23 {
      .form-elements__cells { max-width: 217px }
      .form-elements__td { flex-grow: 1 }
    }
    &_27 { margin-bottom: 233px }
    &_27 > .form-elements__title { margin-bottom: 16.44px }
    &_28 { margin-bottom: 256px }
    &_29 > .form-elements__title { margin-bottom: 13px }
  }
  &__columns {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 4px;
  }
  &__column {
    &_first { min-width: 320px; margin-right: 125px }
    &_second {
      min-width: 320px;
      margin-right: 73px;
      &> .form-elements__element_20 {
        position: absolute;
        max-width: 711px;
      }
    }
    &_third { min-width: 320px; margin-right: 3px }
  }
}

// Десктоп. Разрешение < 1443px
@media (max-width: 1442px) {
  .form-elements {
    &__columns { justify-content: center }
    &__column_first { margin-bottom: 50px }
  }
}

// Десктоп. Разрешение < 1160px
@media (max-width: 1159px) {
  .form-elements {
    &__columns { margin-left: 10px; margin-right: 10px }
  }
}

// Планшет. Разрешение < 904px
@media (max-width: 903px) {
  .form-elements__column {
    &_first, &_second, &_third { margin-right: 30px }
    &_second {
      &> .form-elements__element_20 {
        position: static;
        max-width: auto;
        max-width: 320px;
        margin-bottom: 50px;
      }
    }
  }
}

// Смартфон. Разрешение < 375px
@media (max-width: 374px) {
  .form-elements {
    &__columns { margin-left: 0px; margin-right: 0px }
    &__column {
      &_first, &_second, &_third { margin-right: 0px }
    }
  }
}