include ../text-field/text-field
include ../dropdown/dropdown
include ../date/date

-
    var listCounter = [
        {title: "взрослые", value : "0"},
        {title: "дети", value : "0"},
        {title: "младенцы", value : "0"}
    ]

.form-elements
    .form-elements__column_first
        .form-elements__element_1
            +addTextField('Text Field')
        .form-elements__element_2
            +addDropdown('Dropdown', '', {list: true}, listCounter)
        .form-elements__element_3
            +addTextField('Text Field', '', 'text-field__elem_masked')
        .form-elements__element_4
            +addDropdown('Dropdown', '', {date: true}, listCounter)
        .form-elements__element_5
            +addDropdown('filter date dropdown', '', {date: true}, listCounter)
        .form-elements__element_6
            +addTextField('subscription text field', 'small', 'arrow-left')
    .form-elements__column_second
        +addTextField('', '')
        +addTextField('', '')
        +addTextField('', '')
        +addTextField('', '')
        +addTextField('', '')
        +addTextField('', '')
        +addTextField('', '1111111111111111111 111111111111111111 11111111111111111111111111 111111111111 111 1111111111 111 1111111111111  1111111')
    .form-elements__column_third
        +addTextField('', '')
        +addTextField('', '')
        +addTextField('', '')
        +addTextField('', '')
        +addTextField('', '')
        +addTextField('', '')