include ../../library.blocks/field/field

.form-elements
    .form-elements__column1
        +addField('', '', '')
        +addField('', '', '')
        +addField('', '', '')
        +addField('', '', '')
        +addField('', '', '')
        +addField('', '', '')
        +addField('', '', '')
    .form-elements__column2
        +addField('', '', '')
        +addField('', '', '')
        +addField('', '', '')
        +addField('', '', '')
        +addField('', '', '')
    .form-elements__column3
        +addField('', '', '')
        +addField('', '', '')
        +addField('', '', '')
        +addField('', '', '')
        +addField('', '', '')
        .abc.abc_end