.form-elements {
    display: -webkit-flex; 
    display: flex; 
    flex-direction: row;
    overflow: auto;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-elements__column_first {
    background: yellow;
    min-width: 320px;
}

.form-elements__column_second {
    background: red;
    min-width: 320px;
    /* пример будущего расположения */
    &> div:last-child {
        position: absolute;
        background: black;
        max-width: 711px;
        /**/
        &.field .field__input{
            max-width: 711px;
        }
    }
}

.form-elements__column_third {
    display: -webkit-flex; 
    display: flex; 
    flex-direction: column;
    background: teal;
    min-width: 320px;
}