include ../text-field/text-field
include ../dropdown/dropdown
include ../masked-text-field/masked-text-field
include ../date-dropdown/date-dropdown

-
    var itemsDropdown = [
        {title: "взрослые", value : "0"},
        {title: "дети", value : "0"},
        {title: "младенцы", value : "0"}
    ]

.form-elements
    .form-elements__column_first
        +addTextField('Email', 'Text Field')
        +addDropdown('Сколько гостей', 'Dropdown', itemsDropdown)
        +addMaskeTextField('ДД.ММ.ГГГГ', 'masked text field')
        +addDateDropdown('ДД.ММ.ГГГГ', 'date dropdown')
    .form-elements__column_second
        +addTextField('', '')
        +addTextField('', '')
        +addTextField('', '')
        +addTextField('', '')
        +addTextField('', '')
        +addTextField('', '')
        +addTextField('', '1111111111111111111 111111111111111111 11111111111111111111111111 111111111111 111 1111111111 111 1111111111111  1111111')
    .form-elements__column_third
        +addTextField('', '')
        +addTextField('', '')
        +addTextField('', '')
        +addTextField('', '')
        +addTextField('', '')
        +addTextField('', '')