include ../text-field/text-field
include ../dropdown/dropdown
include ../masked-text-field/masked-text-field
include ../date-dropdown/date-dropdown

-
    var listCounter = [
        {title: "взрослые", value : "0"},
        {title: "дети", value : "0"},
        {title: "младенцы", value : "0"}
    ]

.form-elements
    .form-elements__column_first
        .form-elements__element_1
            +addTextField('Email', 'Text Field')
        .form-elements__element_2
            +addDropdown('Dropdown', '', {list: true}, listCounter)
        .form-elements__element_3
            +addMaskeTextField('ДД.ММ.ГГГГ', 'masked text field')
        .form-elements__element_4
            +addDateDropdown('ДД.ММ.ГГГГ', 'date dropdown')
    .form-elements__column_second
        +addTextField('', '')
        +addTextField('', '')
        +addTextField('', '')
        +addTextField('', '')
        +addTextField('', '')
        +addTextField('', '')
        +addTextField('', '1111111111111111111 111111111111111111 11111111111111111111111111 111111111111 111 1111111111 111 1111111111111  1111111')
    .form-elements__column_third
        +addTextField('', '')
        +addTextField('', '')
        +addTextField('', '')
        +addTextField('', '')
        +addTextField('', '')
        +addTextField('', '')