.form-elements
    .form-elements__column1
        .abc
        .abc
        .abc
        .abc
        .abc
        .abc
        .abc
        .abc
        .abc
    .form-elements__column2
        .abc
        .abc
        .abc
        .abc
        .abc
        .abc
        .abc
    .form-elements__column3
        .abc
        .abc
        .abc
        .abc
        .abc
        .abc
        .abc
        .abc
        .abc.abc_end