include ../form-room-search/form-room-search
include ../form-registration/form-registration
include ../form-reservation/form-reservation
include ../form-login/form-login
include ../date/date
include ../number-card/number-card

-
  var radio_buttons = [
    {title: "Мужчина", name: "pol", value: "muzhchina", toggle: true},
    {title: "Женщина", name: "pol", value: "zhenshina", toggle: false}
  ]

-
  var toggle_buttons = [
    {title: "Получать спецпредложения", name: "poluchat_specpredlozheniya", value : false, toggle: true}
  ]

-
  var reservation = [
    { number: "888", price: "9 990₽", lux: "люкс", mod: "number-and-price__numerals_big" }
  ]

-
  var number_card = [
    { number: "888", price: "9 990₽", lux: "люкс", mod: "number-and-price__numerals_big" }
  ]



.cards
  .cards__columns
    .cards__column
      .cards__element
        +addFormRoomSearch()
      .cards__element
        +addFormRegistration(radio_buttons, radio_num, toggle_buttons)
    .cards__column
      .cards__element
        +addFormReservation(reservation[0].number, reservation[0].price, reservation[0].lux, reservation[0].mod)
      .cards__element
        +addLogin()
    .cards__column
      .cards__element
        .date
          +addDateBottom
      .cards__element
        +addNumberCard(1, 5, 888, "9 990₽", 145, "люкс")
      .cards__element
        +addNumberCard(2, 4, 840, "9 900₽", 65, "")
