include ../colors/colors
include ../type/type

-
    var colors = [
        {text_1: "Dark Shade  100%", text_2: "#1F2041"},
        {text_1: "Dark Shade 75%", text_2: "#1F2041"},
        {text_1: "Dark Shade 50%", text_2: "#1F2041"},
        {text_1: "Dark Shade 25%", text_2: "#1F2041"},
        {text_1: "Dark Shade 5%", text_2: "#1F2041"},
        {text_1: "Purple", text_2: "#BC9CFF"},
        {text_1: "Green", text_2: "#6FCF97"}
    ]

.colors-and-type
    .colors-and-type__column
        +addColors(colors)
    .colors-and-type__column
        +addColumnType('H1', 'l-font-1', 'r-font-1')
            h1 This one is the sub-section or widget title
        +addColumnType('H2', 'l-font-2', 'r-font-2')
            h2 Next one is the item title inside widgets
        +addColumnType('H3', 'l-font-3', 'r-font-3')
            h3 This is a label or CTA text
        +addColumnType('Body', 'l-font-4', 'r-font-4')
            p This is the body text which is used for most of the design, like paragraphs, lists, etc.