.type {
    display: -webkit-flex; 
    display: flex; 
    flex-direction: column;

    &__elem {
        margin-bottom: 50px;
        display: -webkit-flex; 
        display: flex; 
        flex-direction: row;
    }
    &__column-left {
        font-family: 'Montserrat Regular';
        font-style: normal;
        font-weight: normal;
        margin-right: 30px;

        width: 37px;
        p {text-align: right;color: rgba(31, 32, 65, 0.25);}

        &_l-font-1 {
            font-size: 24px;
            line-height: 29px;
        }
        
        &_l-font-2 {
            font-size: 19px;
            line-height: 23px;
        }
        
        &_l-font-3 {
            font-size: 12px;
            line-height: 15px;
        }
        
        &_l-font-4 {
            font-size: 14px;
            line-height: 24px;
        }
    }
    &__column-right {
        &_r-font-1 {
            width: 336px;
            font-family: 'Quicksand Bold';
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 30px;
        }
        &_r-font-2 {
            width: 282px;
            font-family: 'Quicksand Bold';
            font-style: normal;
            font-weight: bold;
            font-size: 19px;
            line-height: 24px;
        }
        &_r-font-3 {
            width: 186px;
            font-family: 'Montserrat Regular';
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;
        }
        &_r-font-4 {
            width: 301px;
            font-family: 'Montserrat Regular';
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 24px;
            color: rgba(31, 32, 65, 0.75);
            font-family: Montserrat Regular;
            b {font-family: Montserrat Bold;}
        }
    }
}