$PATH: '../blocks/fonts/';


@font-face {
	font-family: 'Montserrat';
	src: url($PATH + 'Montserrat-Bold.eot');
	src: local('☺'), url($PATH + 'Montserrat-Bold.woff') format('woff'), url($PATH + 'Montserrat-Bold.ttf') format('truetype'), url($PATH + 'Montserrat-Bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url($PATH + 'Montserrat-Regular.eot');
	src: local('☺'), url($PATH + 'Montserrat-Regular.woff') format('woff'), url($PATH + 'Montserrat-Regular.ttf') format('truetype'), url($PATH + 'Montserrat-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Quicksand';
	src: url($PATH + 'Quicksand-Bold.eot');
	src: local('☺'), url($PATH + 'Quicksand-Bold.woff') format('woff'), url($PATH + 'Quicksand-Bold.ttf') format('truetype'), url($PATH + 'Quicksand-Bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Quicksand';
	src: url($PATH + 'Quicksand-Regular.eot');
	src: local('☺'), url($PATH + 'Quicksand-Regular.woff') format('woff'), url($PATH + 'Quicksand-Regular.ttf') format('truetype'), url($PATH + 'Quicksand-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}