mixin addPaginator
    .paginator
        .paginator__elem
            .paginator__items
                .paginator__item
                    p
            .paginator__text
                p 1 – 12 из 100+ вариантов аренды