mixin addPaginator
  .paginator
    .paginator__elem
      .paginator__items
        .paginator__numbers
        .paginator__button(id="paginator-next").material-icons.md-24
          p= "arrow_forward"
      .paginator__text
        p 1 – 12 из 100+ вариантов аренды