.colors
    .colors__column.two-elem.two-elem_colors-1
            .two-elem__left
            .two-elem__right
                p
                    b Dark Shade 100%
                p #1F2041
    .colors__column.two-elem.two-elem_colors-2
            .two-elem__left
            .two-elem__right
                p
                    b Dark Shade 75%
                p #1F2041
    .colors__column.two-elem.two-elem_colors-3
            .two-elem__left
            .two-elem__right
                p
                    b Dark Shade 50%
                p #1F2041
    .colors__column.two-elem.two-elem_colors-4
            .two-elem__left
            .two-elem__right
                p
                    b Dark Shade 25%
                p #1F2041
    .colors__column.two-elem.two-elem_colors-5
            .two-elem__left
            .two-elem__right
                p
                    b Dark Shade 5%
                p #1F2041
    .colors__column.two-elem.two-elem_colors-6
            .two-elem__left
            .two-elem__right
                p
                    b Purple
                p #BC9CFF
    .colors__column.two-elem.two-elem_colors-7
            .two-elem__left
            .two-elem__right
                p
                    b Green
                p #6FCF97


//OK.colorss-and-type
    OK.colorss-and-type__column
        .colorss
            .colorss__column
                .two-elem.two-elem_colors-1
                    .two-elem__left
                    .two-elem__right
            .colorss__column
                .two-elem.two-elem_colors-1
                    .two-elem__left
                    .two-elem__right
        .type
            .type__column
                .two-elem.two-elem_type-1
                    .two-elem__left
                    .two-elem__right
        