@supports(-webkit-appearance: none) or (-moz-appearance: none) {
    $PATH: '../project.blocks/checkbox/images/';
    .checkbox {
        &__item {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            line-height: 18px;
            input {
                background: white;
                -webkit-appearance: none;
                -moz-appearance: none;
                height: 20px;
                margin-right: 10px;
                border: 1px solid rgba(31, 32, 65, 0.25);
                border-radius: 4px;
                cursor: pointer;
                &::before {
                    content: '';
                    display: inline-block;
                    width: 18px; height: 18px;
                }
                &::after {
                    content: '';
                    display: inline-block;
                    height: 18px;
                }
                &:checked {
                    background: white url($PATH+"check.svg") 3px 2px no-repeat;
                    border: 1px solid #BC9CFF;
                }
            }
            label {
                cursor: pointer;
                display: -webkit-flex; 
                display: flex;
            }
            span {
                color: rgba(31, 32, 65, 0.5);
                margin-bottom: 12px;
            }
            &_toggle input {
                margin-bottom: 14px;
                &:last-child{margin-bottom: 0px;}
                border-radius: 10px;
                width: 40px;
                transition: 0.5s;
                &::before {
                    padding-left: 0px;
                    border-radius: 10px;
                    width: 12px;
                    height: 12px;
                    margin: 3px;
                    background: rgba(31, 32, 65, 0.25);
                }
                &:checked {
                    padding-left: 20px;
                    transition: 0.5s;
                    background: white;
                    &::before {
                        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
                    }
                }
            }
            &_like {
                margin-right: 6px;
                &:last-child{margin-right: 0px}
                background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
                border-radius: 10px;
                width: 40px;
                display: inline-block;
                input {
                    border-radius: 10px;
                    width: 40px;
                    margin-right: 0px;
                    &::before {
                        width: 10px;
                        height: 10px;
                        margin: 3px;
                        background: 1px 2px url($PATH+"favorite_border.svg") no-repeat;
                    }
                    &::after {
                        content: "2";
                        margin-top: 2px;
                        font-size: 10px;
                        line-height: 12px;
                        vertical-align: top;
                        width: 16px;
                        text-align: center;
                    }
                    &:not(:checked) {
                        color: rgba(31, 32, 65, 0.25);
                    }
                    &:checked {
                        background: white;
                        margin-left: 1px;
                        margin-top: 1px;
                        margin-bottom: 1px;
                        border: 0px;
                        width: 38px;
                        height: 18px;
                        &::before {
                            background: 1px 2px url($PATH+"favorite.svg") no-repeat;
                        }
                        &::after {
                            content: "12";
                        }
                    }
                }
            }
        }
        &__rich {
            max-width: 223px;
            margin-bottom: 9px;
            p > span {
                font-size: 12px;
                line-height: 14px;
            }
            p > b > span {
                font-size: 14px;
                line-height: 18px;
            }
            p {
                line-height: 14px;
                &:first-child {
                    margin-top: 0px;
                    margin-bottom: 6px
                }
            }
        }
    }
}