@supports(-webkit-appearance: none) or (-moz-appearance: none) {
    .checkbox__item input {
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 18px;
        outline: none;
        display: inline-block;
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 10px;
        border: 1px solid rgba(31, 32, 65, 0.25);
        border-radius: 4px;
        cursor: pointer;
        vertical-align: top;
        &::before {
            content: '';
            display: inline-block;
            width: 16px;
            height: 16px;
        }
        &::after {
            content: '';
            display: inline-block;
            height: 16px;
        }
        &:checked {
            background: url("/images/check.svg") 3px 2px no-repeat;
            border: 1px solid #BC9CFF;
            &::before {
                background: none;
            }
        }
    }

    .checkbox__item {
        padding: 0px;
        margin-bottom: 10px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    .checkbox__item label {
        cursor: pointer;
        padding: 0px;
        margin: 0px;
        display: block;
    }
    
    .checkbox__item span {
        vertical-align: top;
        color: rgba(31, 32, 65, 0.5);
    }

    .checkbox__item_toggle input {
        border-radius: 10px;
        background: white;
        border: 1px solid #BC9CFF;
        width: 38px;
        transition: 0.5s;
        &::before {
            padding-left: 0px;
            border-radius: 10px;
            width: 10px;
            height: 10px;
            margin: 3px;
            background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        }
        &:checked {
            padding-left: 20px;
            transition: 0.5s;
            background: white;
            &::before {
                background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
            }
        }
    }

    .checkbox__item_like {
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        border-radius: 20px;
        width: 38px;
        display: inline-block;
    }

    .checkbox__item.checkbox__item_like input {
        border-radius: 20px;
        border: 1px solid rgba(31, 32, 65, 0.25);
        width: 38px;
        color: rgba(31, 32, 65, 0.25);
        background: white;

        &::before {
            padding-left: 0px;
            border-radius: 10px;
            width: 10px;
            height: 10px;
            margin: 3px;
            background: 0.5px 1px url("/images/favorite_border.svg") no-repeat;
        }
        &::after {
            content: "1";
            margin-top: 2px;
            font-size: 10px;
            line-height: 12px;
            vertical-align: top;
        }
        &:checked {
            background: white;
            color: #BC9CFF;
            margin-left: 1px;
            margin-top: 1px;
            border: 0px;
            width: 36px;
            height: 16px;
            &::before {
                background: 0.5px 1px url("/images/favorite.svg") no-repeat;
            }
            &::after {
                content: "2";
                vertical-align: top;
            }
        }
    }
}

.checkbox__rich {
    display: inline-block;
    max-width: 223px;
}
.checkbox__rich p > span {
    font-size: 12px;
    line-height: 14px;
}
.checkbox__rich p > b > span {
    font-size: 14px;
    line-height: 18px;
}
