mixin addCheckbox(items)
    .checkbox
        - for (var x = 0; x < items.length; x++)
            .checkbox__item
                label
                    if items[x].value
                        input(name=items[x].name, class="checkbox__input", type="checkbox", checked)
                        span= items[x].title
                    else
                        input(name=items[x].name, class="checkbox__input", type="checkbox")
                        span= items[x].title