include ../header-nav/header-nav
include ../footer/footer
include ../form-room-search/form-room-search

main.landing-page
    .main-container
        .landing-page__box
            .landing-page__form
                +addFormRoomSearch()
            .landing-page__text
                p Лучшие номера для вашей работы, отдыха и просто вдохновения