mixin addTextField(title, fieldMod, textFieldMod)
    +addField(title, fieldMod)
        .text-field
            input.text-field__elem(class=textFieldMod, type="text", placeholder="Email")
                