include ../../library.blocks/field/field

mixin addTextField(title, fieldMod, textFieldMod)
    +addField(title, fieldMod)
        .text-field
            case fieldMod
                when NULL
                    input.text-field__elem(type="text", placeholder="Email")
                when 0
                    input.text-field__elem(type="text", placeholder="Email")
                default
                    input.text-field__elem(class='text-field__elem_'+textFieldMod, type="text", placeholder="Email")