include ../../library.blocks/field/field
include ../list-counter/list-counter

mixin addDropdown(title, fieldMod, dropdownType, additionalContent)
    +addField(title, fieldMod)
        .dropdown
            .dropdown__top
                if dropdownType.list
                    +addListCounterTop
            .dropdown__bottom
                if dropdownType.list
                    +addListCounterBottom(additionalContent)