include ../../library.blocks/field/field
include ../list-counter/list-counter
include ../date/date
include ../checkbox/checkbox

mixin addDropdown(title, dropdownMod, fieldMod, dropdownType, additionalContent, check_status)
    +addField(title, fieldMod)
        .dropdown(class=dropdownMod)
            if dropdownType.list
                .list-counter
                    .dropdown__top
                        +addListCounterTop
                    .dropdown__bottom
                        +addListCounterBottom(additionalContent)
            else if dropdownType.date
                .date
                    .dropdown__top
                        +addDateTop
                    .dropdown__bottom
                        +addDateBottom
            else if dropdownType.checkbox
                .checkbox
                    .dropdown__top
                        h3= 'expandable checkbox list'
                    .dropdown__bottom
                        +addCheckbox(additionalContent)