include ../../library.blocks/field/field
include ../list-counter/list-counter
include ../date/date

mixin addDropdown(title, fieldMod, dropdownType, additionalContent)
    +addField(title, fieldMod)
        .dropdown
            .dropdown__top
                if dropdownType.list
                    +addListCounterTop
                if dropdownType.date
                    +addDateTop
            .dropdown__bottom
                if dropdownType.list
                    +addListCounterBottom(additionalContent)
                if dropdownType.date
                    +addDateBottom