mixin addDropdown(val, title)
    .field
        h3= title
        .field__input(class='field__input_dropdown')
            p= val
            img(src="./images/expand_more.svg" alt="expand more")
        .field__input.field__input_dropdown-list
            p тут будет 1 реализация черех JS