mixin addRangeSlider
    div(id="target")
        div(id="limit_1")
        div(id="content")
        div(id="limit_2")
    div(id="other")= "Trigger the handler"
    div(id="log")

//mixin addRangeSlider
    div(id="target")
        div(id="content")
    div(id="other")= "Trigger the handler"
    div(id="log")