doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title Colors & Type
    body
        include /blocks/header-light
        .colors-and-type
            .colors-and-type__column
                include /blocks/colors
            .colors-and-type__column
                include /blocks/type