doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title Colors & Type
    body
        include /blocks/header-light
        .wrapper
            include /blocks/colors
            include /blocks/type