doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title Colors & Type
    body
        .wrapper
            include /blocks/icon
            include /blocks/colors
            include /blocks/type