
@import '../blocks/fonts/fonts.scss';
@import '../blocks/icon/icon.scss';
@import '../blocks/header-light/header-light.scss';
@import '../blocks/colors-and-type/colors-and-type.scss';
@import '../blocks/two-elem/two-elem.scss';
@import '../blocks/colors/colors.scss';
@import '../blocks/type/type.scss';


* {
    margin: 0;
    padding: 0;
}

p {
    color: #1F2041;
}