
@import '../blocks/fonts/fonts.scss';
@import '../blocks/icon/icon.scss';
@import '../blocks/header-light/header-light.scss';
@import '../blocks/colors-and-type/colors-and-type.scss';
@import '../blocks/two-elem/two-elem.scss';
@import '../blocks/colors/colors.scss';
@import '../blocks/type/type.scss';
@import '../blocks/form-elements/form-elements.scss';


* {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: -webkit-flex; 
    display: flex; 
    flex-direction: column;
    overflow: hidden;
}

.main-container {
    max-width: 1920px;
    min-width: 280px; //320px: margin-left= 20, margin-right= 20
    margin: 0px auto;
    padding-right: 41px;
}

.header-container {
    max-width: 1920px;
    min-width: 320px;
}

p {
    color: #1F2041;
}

// Десктоп. Разрешение < 1991px
@media (max-width: 1920px) {
    .main-container {
        max-width: 1099px;
    }
}

// Планшеты. Разрешение < 993px
@media (max-width: 992px) {
    .main-container {
        max-width: 750px;
    }
}

// Смартфоны. Разрешение < 768px
@media (max-width: 767px) {
    .main-container {
        max-width: none;
        margin-left: 20px;
        margin-right: 20px;
        padding-right: 0px;
    }
}