include ../dropdown/dropdown

-
    var services = [
        {title: "Услуга 1", link: "https://yandex.ru/"},
        {title: "Услуга 2", link: "https://yandex.ru/"},
        {title: "Услуга 3", link: "https://yandex.ru/"},
        {title: "Услуга 4", link: "https://yandex.ru/"}
    ]

-
    var agreements = [
        {title: "Соглашение 1", link: "https://yandex.ru/"},
        {title: "Соглашение 2", link: "https://yandex.ru/"},
        {title: "Соглашение 3", link: "https://yandex.ru/"},
        {title: "Соглашение 4", link: "https://yandex.ru/"}
    ]

mixin addHeaderNav(logged)
    header.header-nav(data-logged=logged)
        .header-nav__box
            .header-nav__logo
            .header-nav__nav
                ul.header-nav__menu
                    li
                        p О нас
                    li
                        +addDropdown('Услуги', {name: "list-1", dropdown_elem_small: "dropdown__elem_elastic", dropdown_elem_no_border: "dropdown__elem_no-border", type_units: "separately"}, false, services)
                    li
                        p Вакансии
                    li
                        p Новости
                    li
                        +addDropdown('Соглашения', {name: "list-2", dropdown_elem_small: "dropdown__elem_elastic", dropdown_elem_no_border: "dropdown__elem_no-border", type_units: "separately"}, false, agreements)
                .header-nav__user