include ../navigator/navigator
include ../dropdown/dropdown

-
    var services = [
        {title: "Услуга 1", link: "https://yandex.ru/"},
        {title: "Услуга 2", link: "https://yandex.ru/"},
        {title: "Услуга 3", link: "https://yandex.ru/"},
        {title: "Услуга 4", link: "https://yandex.ru/"}
    ]

-
    var agreements = [
        {title: "Соглашение 1", link: "https://yandex.ru/"},
        {title: "Соглашение 2", link: "https://yandex.ru/"},
        {title: "Соглашение 3", link: "https://yandex.ru/"},
        {title: "Соглашение 4", link: "https://yandex.ru/"}
    ]

mixin addHeaderNav(logged, no_fixed)
    if no_fixed
        - var no_fixed = 'header-nav_no-fixed'
    else
        - var no_fixed = ''
    header.header-nav(data-logged=logged, class=no_fixed)
        .header-nav__box
            .header-nav__logo
            .header-nav__nav
                +addNavigator
                .header-nav__user