$PATH: '../dist/images/';

.header-nav {
    background: white;
    &__box {
        justify-content: space-between;
        align-items: center;
        display: flex;
        max-width: 1160px;
        margin: 0px auto;
    }
    &__logo {
        width: 106px;
        height: 40px;
        background: url($PATH+"logo.svg") no-repeat;
    }
    &__nav {
        height: 70px;
        display: flex;
        align-items: center;
    }
    &__menu {
        display: flex;
        align-items: center;
        li {
            display: flex;
            list-style: none;
            margin-right: 20.5px;
            img {
                margin-left: 6px;
                margin-right: 6.5px;
            }
            &:nth-child(2) {
                margin-right: 44.5px;
            }
            &:last-child {
                margin-right: 44.5px;
            }
        }
    }
    &__user {
        height: 70px;
        display: flex;
        align-items: center;
    }
    &__line {
        width: 1px;
        height: 30px;
        background: rgba(31, 32, 65, 0.1);
        margin-right: 20px;
    }
    &__buttons {
        display: flex;
        height: 34px;
        &> * {
            margin-right: 20px;
            &:last-child { margin-right: 0px }
        }
    }
}