.number-and-price__box {
  display: -webkit-flex; 
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
  .number-and-price__number, .number-and-price__price {
    display: -webkit-flex; 
    display: flex;
    align-items: flex-end;
  }
  .number-and-price__number {
    .number-and-price__n {
      line-height: 17px;
      margin-right: 6px;
    }
    .number-and-price__numerals {
      line-height: 19px;
      font-size: 19px;
      margin-right: 6px;
      &_big {
        line-height: 24px;
        font-size: 24px;
      }
    }
    .number-and-price__lux {
      line-height: 15px;
      font-size: 12px;
    }
  }
  .number-and-price__price {
    .number-and-price__money {
      line-height: 14px;
      font-size: 14px;
      color: rgba(31, 32, 65, 0.5);
      margin-right: 4px
    }
    .number-and-price__per-day {
      line-height: 14px;
      font-size: 12px;
      color: rgba(31, 32, 65, 0.5);
    }
  }
}