mixin addNumberAndPrice(number, price, lux, mod)
  .number-and-price
    .number-and-price__box
      .number-and-price__number
        p.number-and-price__n №
        h2.number-and-price__numerals(class=mod)= number
        h3.number-and-price__lux.purple_text= lux
      .number-and-price__price
        h3.number-and-price__money= price
        p.number-and-price__per-day в сутки