        /* DATE DROPDOWN */
.field {
    &__input {
        &_date-dropdown {
            width: 150px;
            margin: 0px;
            padding: 0px;
            display: -webkit-flex; 
            display: flex; 
            flex-direction: row;
            justify-content: space-between;

            p {
                vertical-align: middle;
                line-height: 42px;
                padding-left: 15px;
            }
            img {
                padding: 16px 15.5px 16px 15.5px;
            }
        }

        &_date {
            width: 130px;
            height: 0px;
            display: none;
            position: absolute;
            margin: 0px;
            padding: 0px;
        }

        &_date:hover,
        &_date-dropdown:hover + &_date {
            width: 320px;
            height: 130px;
            display: block;
            position: absolute;
        }
    }
}