mixin addDateTop
    .date__top
        p= 'ДД.ММ.ГГГГ'
        img(src="./images/expand_more.svg" alt="expand more")
mixin addDateBottom
    .date__bottom
        .date__paginator
            .date__button(id="date-but-prev")
                p
            .date__of-the-month
            .date__button(id="date-but-next")
                p
        .date__cal(id="element_200")