-
    var week = ["Пн", "Вт", "Ср", "Чт", "Пт", "Сб", "Вс"]

mixin addDate
    .date__cal
        .date__arrow-left
        .date__title
            p Название месяца
        .date__arrow-right
        - var n = 0;
        while n < 7
            .date__day-week(id='day-week-' + n)= week[n]
            - var n = n + 1;

mixin addDateTop
    .date
        .date__top
            .date__small-top
                p= 'ДД.ММ.ГГГГ'
                img(src="./images/expand_more.svg" alt="expand more")
            .date__small-top
                p= 'ДД.ММ.ГГГГ'
                img(src="./images/expand_more.svg" alt="expand more")

mixin addDateBottom
    .date
        .date__bottom
            input(name='date', id='date', type='hidden', value=val)
            +addDate
            .date__buttons
                h3.date__clear очистить
                h3.date__apply(id="apply") применить