$PATH: '../project.blocks/date/images/';

.date {
    &__paginator {
        /* Запрет выделения текста */
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none;   /* Chrome/Safari/Opera */
        -khtml-user-select: none;    /* Konqueror */
        -moz-user-select: none;      /* Firefox */
        -ms-user-select: none;
        user-select: none;
        display: -webkit-flex; 
        display: flex;
        margin-bottom: 8px;
    }
    &__month {
        width: 215px;
        height: 40px;
        justify-content: center;
        display: -webkit-flex; 
        display: flex;
        align-items: center;
        &_checked {
            background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
            border-radius: 22px;
            color: #FFFFFF;
        }
        &_invisible { display: none }
    }
    &__button {
        text-align: center;
        width: 40px;
        height: 40px;
        justify-content: center;
        display: -webkit-flex; 
        display: flex;
        align-items: center;
        cursor: pointer;
        &_left, &_right {
            p { padding-top: 0.9px; }
        }
    }
    &__text p { text-align: center }
    &__buttons {
        padding-top: 7px;
        padding-bottom: 7px;
        padding-right: 13px;
        display: -webkit-flex; 
        display: flex; 
        flex-direction: row;
        justify-content: space-between;
        h3 {
            margin-top: 6px;
            margin-right: 6px;
            margin-bottom: 6px;
            font-weight: bold;
        }
    }
    &__top {
        display: -webkit-flex; 
        display: flex; 
        flex-direction: row;
        justify-content: space-between;
        margin: 0px;
        padding-left: 14px;
        min-width: 250px;
    }
    &__two-tops {
        display: -webkit-flex; 
        display: flex; 
        flex-direction: row;
        width: 320px;
    }
    &__two-top {
        width: 150px;
        padding-left: 14px;
        margin-right: 20px;
        p {
            display: -webkit-flex;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: 8px;
            span:nth-child(2) {
                margin-top: 3px;
                color: rgba(31, 32, 65, 0.5);
            }
        }
        &:last-child{margin-right: 0px;}
    }
    &__bottom {
        padding-top: 11px;
        padding-bottom: 6px;
        padding-left: 12px;
        width: 306px;
        background: white;
    }
    &__top, &__bottom, &__two-top {
        border: 1px solid rgba(31, 32, 65, 0.25);
        border-radius: 4px;
    }
    &__days, &__cal { padding-left: 8px }
    &__buttons { padding-left: 7px }
    &__cal {
        display: -webkit-flex; 
        display: flex; 
        flex-wrap: wrap;
        padding-bottom: 8px;
    }
    &__cal, &__days { font-size: 12px }
    &__days {
        display: -webkit-flex; 
        display: flex; 
        flex-wrap: wrap;
        font-weight: bold;
        padding-top: 13px;
    }
    &__day {
        width: 39.88px;
        height: 40px;
        display: -webkit-flex; 
        display: flex; 
        align-items: center;
        justify-content: center;
    }
    &__cell {
        cursor: pointer;
        &_accent {
            background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
        }
        &_accent-first {
            background: linear-gradient(90deg, transparent 20px, rgba(188, 156, 255, 0.25) 20px, rgba(139, 164, 249, 0.25) 40px);
        }
        &_accent-last {
            background: linear-gradient(-90deg, transparent 20px, rgba(188, 156, 255, 0.25) 20px, rgba(139, 164, 249, 0.25) 40px);
        }
    }
    &__number {
        border-radius: 50%;
        width: 39.88px;
        height: 40px;
        display: -webkit-flex; 
        display: flex; 
        align-items: center;
        justify-content: center;
        color: rgba(31, 32, 65, 0.5);
        &_other-month {
            color: rgba(31, 32, 65, 0.25);
        }
        &_current {
            background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
            font-weight: bold;
            color: #FFFFFF;
        }
        &_checked {
            background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
            font-weight: bold;
            color: #FFFFFF;
        }
    }
}