mixin addDateTop
    .date__top
        .date__small-top
            p= 'ДД.ММ.ГГГГ'
            img(src="./images/expand_more.svg" alt="expand more")
        .date__small-top
            p= 'ДД.ММ.ГГГГ'
            img(src="./images/expand_more.svg" alt="expand more")

mixin addDateBottom(items)
    .date__bottom
        p 456
        .date__buttons
            h3.date__clear очистить
            h3.date__apply(id="apply") применить