doctype
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
        block title
    body
        .wrapper.wrapper_grey
            header.header
                .header-container
                    include ../../project.blocks/header-light/header-light
            main.main
                .main-container
                    block content