
include ../dropdown/dropdown

mixin addNavigator(first_bold)
    .navigator
        input.navigator__mobile-button(type="checkbox", id="header")
        label(for="header")
            h1 ≡
        .navigator__mobile-background
        ul.navigator__ul
            li
                p(class=first_bold) О нас
            li
                +addDropdown('Услуги', {name: "list-1", dropdown_elem_small: "dropdown__elem_elastic", dropdown_elem_no_border: "dropdown__elem_no-border", type_units: "separately"}, false, services)
            li
                p Вакансии
            li
                p Новости
            li
                +addDropdown('Соглашения', {name: "list-2", dropdown_elem_small: "dropdown__elem_elastic", dropdown_elem_no_border: "dropdown__elem_no-border", type_units: "separately"}, false, agreements)