.field {
    & h3{margin-bottom: 5px;}

    &__input {
        width: 320px;
        &:first-child{}
        min-height: 42px;
        background: #FFFFFF;
        border: 1px solid rgba(31, 32, 65, 0.25);
        box-sizing: border-box;
        border-radius: 4px;
        padding-left: 14px;
        outline:none;

        &::-webkit-input-placeholder {
            color: rgba(31, 32, 65, 0.25);
        } 
        &::-moz-placeholder {
            color: rgba(31, 32, 65, 0.25);
        }
    }
    &__columns {
        display: -webkit-flex; 
        display: flex; 
        flex-direction: row;
    }
    &__column {
        margin-right: 20px;
        &:last-child{margin-right: 0px;}
    }

}