.field {
    &__elem {
        max-width: 320px;
        min-height: 44px;
        h3 { margin-bottom: 5px }
        &_small { max-width: 266px }
    }
    &__input {
        min-width: inherit;
        box-sizing: border-box;
        outline:none;
        &::-webkit-input-placeholder {
            color: rgba(31, 32, 65, 0.25);
        } 
        &::-moz-placeholder {
            color: rgba(31, 32, 65, 0.25);
        }
    }
    &__columns {
        display: -webkit-flex; 
        display: flex; 
        flex-direction: row;
    }
    &__column {
        margin-right: 20px;
        &:last-child { margin-right: 0px }
    }
}