mixin addColors(colors)
    - for(var i = 0; i < colors.length; i++)
        +addColorsColumns('color_'+i)
            h2
                b= colors[i].text_1
            h2= colors[i].text_2

mixin addColorsColumnRight
    .colors__column-right
        block

mixin addColorsColumns(mod)
    .colors
        .colors__elem
            .colors__column-left(class='colors__column-left_' + mod)
            +addColorsColumnRight
                block