mixin addColumnColorsRight
    .colors__column-right
        block

mixin addColumnColors(mod)
    .colors
        .colors__elem
            .colors__column-left(class='colors__column-left_' + mod)
            +addColumnColorsRight
                block