include ../radio/radio
include ../number-and-price/number-and-price

mixin addNumberCard(number_images, checked_rate, number_room, price, number_of_reviews, lux)
  - if (checked_rate == 1)
    - var toggle_1 = true
  - else 
    - var toggle_1 = false
  - if (checked_rate == 2)
    - var toggle_2 = true
  - else 
    - var toggle_2 = false
  - if (checked_rate == 3)
    - var toggle_3 = true
  - else 
    - var toggle_3 = false
  - if (checked_rate == 4)
    - var toggle_4 = true
  - else 
    - var toggle_4 = false
  - if (checked_rate == 5)
    - var toggle_5 = true
  - else 
    - var toggle_5 = false
  -
    var rate_buttons_1 = [
      {name: "rate_"+number_images, value: "1", toggle: toggle_1, rate: true},
      {name: "rate_"+number_images, value: "2", toggle: toggle_2, rate: true},
      {name: "rate_"+number_images, value: "3", toggle: toggle_3, rate: true},
      {name: "rate_"+number_images, value: "4", toggle: toggle_4, rate: true},
      {name: "rate_"+number_images, value: "5", toggle: toggle_5, rate: true}
    ]
  .number-card
    .number-card__element-1.number-card__image(class="number-card__image_"+number_images)
      input(name="number-card-"+number_images, class="number-card__input", type="radio", checked)
      input(name="number-card-"+number_images, class="number-card__input", type="radio")
      input(name="number-card-"+number_images, class="number-card__input", type="radio")
      input(name="number-card-"+number_images, class="number-card__input", type="radio")
      .number-card__buttons.material-icons.md-24
        p.number-card__arrow-left= "keyboard_arrow_left"
        p.number-card__arrow-right= "keyboard_arrow_right"
      .number-card__background
    .number-card__description
      .number-card__element-2
        .number-card__num-and-price
          +addNumberAndPrice(number_room, price, lux)
      .number-card__element-3
        .number-card__line
      .number-card__element-4
        .number-card__column
          +addRadio(rate_buttons_1, number_images)
        .number-card__column
          h3.number-card__number-of-reviews= number_of_reviews
          p.number-card__text-of-reviews Отзывов